In [15]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [16]:
dataset = [("Bob", 42, 'IT', 2000), 
           ("Lisa", 59,  'Finance', 3000), 
           ("Diane", 20,  'IT', 5000),
           ("Janet", 60,  'Finance', 7000),
           ("Calvin", 26, 'IT', 4000), 
           ("Elena", 24,  'Finance', 6000), 
           ("Bill", 50,  'IT', 1000),
           ("Dawn", 33,  'Finance', 8000),
            ("Ken", 66,  'IT',4500), 
           ("Lee", 21, 'Finance',6500), 
           ("Asha", 53, 'IT',1500),
          ("Marsh", 34,'Finance', 8500)]

col = ['first_name', 'age', 'deptartment', 'salary']

employeedf = spark.createDataFrame(data = dataset,schema = col)

In [17]:
employeedf.show()

+----------+---+-----------+------+
|first_name|age|deptartment|salary|
+----------+---+-----------+------+
|       Bob| 42|         IT|  2000|
|      Lisa| 59|    Finance|  3000|
|     Diane| 20|         IT|  5000|
|     Janet| 60|    Finance|  7000|
|    Calvin| 26|         IT|  4000|
|     Elena| 24|    Finance|  6000|
|      Bill| 50|         IT|  1000|
|      Dawn| 33|    Finance|  8000|
|       Ken| 66|         IT|  4500|
|       Lee| 21|    Finance|  6500|
|      Asha| 53|         IT|  1500|
|     Marsh| 34|    Finance|  8500|
+----------+---+-----------+------+

In [19]:
employeedf.write.option("header",True) \
        .partitionBy("deptartment") \
        .mode("overwrite") \
        .csv("employee")

In [ ]:
emp = [("Bob", 42, 'Sales', 2000), 
           ("Lisa", 59,  'Finance', 3000), 
           ("Diane", 20,  'IT', 5000),
           ("Janet", 60,  'Finance', 7000),
           ("Calvin", 26, 'IT', 4000), 
           ("Elena", 24,  'Sales', 6000), 
           ("Bill", 50,  'IT', 1000),
           ("Dawn", 33,  'Finance', 8000),
            ("Ken", 66,  'IT',4500), 
           ("Lee", 21, 'Sales',6500), 
           ("Asha", 53, 'IT',1500),
          ("Marsh", 34,'Finance', 8500)]

col = ['first_name', 'age', 'deptartment', 'salary']

empdf = spark.createDataFrame(data = emp,schema = col)

In [ ]:
empdf.show()

In [ ]:
empdf.coalesce(2) \
        .write.option("header",True) \
        .mode("overwrite") \
        .csv("emp")

In [ ]:
location1df.repartition(2) \
        .write.option("header",True) \
        .mode("overwrite") \
        .csv("emp1")