In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark

In [0]:
employees = [("Bob", 42, 'IT', 2000), 
           ("Lisa", 59,  'Finance', 3000), 
           ("Diane", 20,  'IT', 5000),
           ("Janet", 60,  'Finance', 7000),
            ("Calvin", 26, 'IT', 4000), 
           ("Elena", 24,  'Finance', 6000), 
           ("Bill", 50,  'IT', 1000),
          ("Dawn", 33,  'Finance', 8000)]


col = ['first_name', 'age', 'deptartment', 'salary']

employeesdf = spark.createDataFrame(data = employees,schema = col)

employeesdf.show()
employeesdf.printSchema()

+----------+---+-----------+------+
|first_name|age|deptartment|salary|
+----------+---+-----------+------+
|       Bob| 42|         IT|  2000|
|      Lisa| 59|    Finance|  3000|
|     Diane| 20|         IT|  5000|
|     Janet| 60|    Finance|  7000|
|    Calvin| 26|         IT|  4000|
|     Elena| 24|    Finance|  6000|
|      Bill| 50|         IT|  1000|
|      Dawn| 33|    Finance|  8000|
+----------+---+-----------+------+

root
 |-- first_name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- deptartment: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
from pyspark.sql.functions import lit,current_timestamp

employeesdf = employeesdf.withColumn("percentage_increase",lit(10)) \
                    .withColumn("current_time", current_timestamp()) 
employeesdf.show()
employeesdf.printSchema()

+----------+---+-----------+------+-------------------+--------------------+
|first_name|age|deptartment|salary|percentage_increase|        current_time|
+----------+---+-----------+------+-------------------+--------------------+
|       Bob| 42|         IT|  2000|                 10|2023-10-06 08:34:...|
|      Lisa| 59|    Finance|  3000|                 10|2023-10-06 08:34:...|
|     Diane| 20|         IT|  5000|                 10|2023-10-06 08:34:...|
|     Janet| 60|    Finance|  7000|                 10|2023-10-06 08:34:...|
|    Calvin| 26|         IT|  4000|                 10|2023-10-06 08:34:...|
|     Elena| 24|    Finance|  6000|                 10|2023-10-06 08:34:...|
|      Bill| 50|         IT|  1000|                 10|2023-10-06 08:34:...|
|      Dawn| 33|    Finance|  8000|                 10|2023-10-06 08:34:...|
+----------+---+-----------+------+-------------------+--------------------+

root
 |-- first_name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- deptartment: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- percentage_increase: integer (nullable = false)
 |-- current_time: timestamp (nullable = false)

In [0]:
employeesdf = employeesdf.withColumn("percentage_increase",lit(10)) 
employeesdf = employeesdf.withColumn("current_time", current_timestamp()) 
employeesdf.show()
employeesdf.printSchema()

+----------+---+-----------+------+-------------------+--------------------+
|first_name|age|deptartment|salary|percentage_increase|        current_time|
+----------+---+-----------+------+-------------------+--------------------+
|       Bob| 42|         IT|  2000|                 10|2023-10-06 08:34:...|
|      Lisa| 59|    Finance|  3000|                 10|2023-10-06 08:34:...|
|     Diane| 20|         IT|  5000|                 10|2023-10-06 08:34:...|
|     Janet| 60|    Finance|  7000|                 10|2023-10-06 08:34:...|
|    Calvin| 26|         IT|  4000|                 10|2023-10-06 08:34:...|
|     Elena| 24|    Finance|  6000|                 10|2023-10-06 08:34:...|
|      Bill| 50|         IT|  1000|                 10|2023-10-06 08:34:...|
|      Dawn| 33|    Finance|  8000|                 10|2023-10-06 08:34:...|
+----------+---+-----------+------+-------------------+--------------------+

root
 |-- first_name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- deptartment: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- percentage_increase: integer (nullable = false)
 |-- current_time: timestamp (nullable = false)

In [0]:
from pyspark.sql.functions import col
employeesdf = employeesdf.withColumn("salary",col("salary") + (col("salary")* (col("percentage_increase")* 0.01)))
employeesdf.show()
employeesdf.printSchema()

+----------+---+-----------+------+-------------------+--------------------+
|first_name|age|deptartment|salary|percentage_increase|        current_time|
+----------+---+-----------+------+-------------------+--------------------+
|       Bob| 42|         IT|2200.0|                 10|2023-10-06 08:34:...|
|      Lisa| 59|    Finance|3300.0|                 10|2023-10-06 08:34:...|
|     Diane| 20|         IT|5500.0|                 10|2023-10-06 08:34:...|
|     Janet| 60|    Finance|7700.0|                 10|2023-10-06 08:34:...|
|    Calvin| 26|         IT|4400.0|                 10|2023-10-06 08:34:...|
|     Elena| 24|    Finance|6600.0|                 10|2023-10-06 08:34:...|
|      Bill| 50|         IT|1100.0|                 10|2023-10-06 08:34:...|
|      Dawn| 33|    Finance|8800.0|                 10|2023-10-06 08:34:...|
+----------+---+-----------+------+-------------------+--------------------+

root
 |-- first_name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- deptartment: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- percentage_increase: integer (nullable = false)
 |-- current_time: timestamp (nullable = false)

In [0]:
employeesdf = employeesdf.withColumn("salary",col("salary").cast("Integer"))
employeesdf.show()
employeesdf.printSchema()

+----------+---+-----------+------+-------------------+--------------------+
|first_name|age|deptartment|salary|percentage_increase|        current_time|
+----------+---+-----------+------+-------------------+--------------------+
|       Bob| 42|         IT|  2200|                 10|2023-10-06 08:34:...|
|      Lisa| 59|    Finance|  3300|                 10|2023-10-06 08:34:...|
|     Diane| 20|         IT|  5500|                 10|2023-10-06 08:34:...|
|     Janet| 60|    Finance|  7700|                 10|2023-10-06 08:34:...|
|    Calvin| 26|         IT|  4400|                 10|2023-10-06 08:34:...|
|     Elena| 24|    Finance|  6600|                 10|2023-10-06 08:34:...|
|      Bill| 50|         IT|  1100|                 10|2023-10-06 08:34:...|
|      Dawn| 33|    Finance|  8800|                 10|2023-10-06 08:34:...|
+----------+---+-----------+------+-------------------+--------------------+

root
 |-- first_name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- deptartment: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- percentage_increase: integer (nullable = false)
 |-- current_time: timestamp (nullable = false)

In [0]:
from pyspark.sql.functions import when
employeesdf = employeesdf.withColumn('deptartment', when(employeesdf['deptartment'] == "IT",\
                 "Information Technology").otherwise(employeesdf['deptartment']))
employeesdf.show()

+----------+---+--------------------+------+-------------------+--------------------+
|first_name|age|         deptartment|salary|percentage_increase|        current_time|
+----------+---+--------------------+------+-------------------+--------------------+
|       Bob| 42|Information Techn...|  2200|                 10|2023-10-06 08:34:...|
|      Lisa| 59|             Finance|  3300|                 10|2023-10-06 08:34:...|
|     Diane| 20|Information Techn...|  5500|                 10|2023-10-06 08:34:...|
|     Janet| 60|             Finance|  7700|                 10|2023-10-06 08:34:...|
|    Calvin| 26|Information Techn...|  4400|                 10|2023-10-06 08:34:...|
|     Elena| 24|             Finance|  6600|                 10|2023-10-06 08:34:...|
|      Bill| 50|Information Techn...|  1100|                 10|2023-10-06 08:34:...|
|      Dawn| 33|             Finance|  8800|                 10|2023-10-06 08:34:...|
+----------+---+--------------------+------+-------------------+--------------------+

In [0]:
employeesdf = employeesdf.withColumnRenamed("percentage_increase","bonus_percentage") 

employeesdf.show()

+----------+---+--------------------+------+----------------+--------------------+
|first_name|age|         deptartment|salary|bonus_percentage|        current_time|
+----------+---+--------------------+------+----------------+--------------------+
|       Bob| 42|Information Techn...|  2200|              10|2023-10-06 08:34:...|
|      Lisa| 59|             Finance|  3300|              10|2023-10-06 08:34:...|
|     Diane| 20|Information Techn...|  5500|              10|2023-10-06 08:34:...|
|     Janet| 60|             Finance|  7700|              10|2023-10-06 08:34:...|
|    Calvin| 26|Information Techn...|  4400|              10|2023-10-06 08:34:...|
|     Elena| 24|             Finance|  6600|              10|2023-10-06 08:34:...|
|      Bill| 50|Information Techn...|  1100|              10|2023-10-06 08:34:...|
|      Dawn| 33|             Finance|  8800|              10|2023-10-06 08:34:...|
+----------+---+--------------------+------+----------------+--------------------+